/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}

/* ============== PAGE HEADER ============== */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logotype-span-studio {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.menu-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.contacts-item {
  display: flex;
  gap: 40px;
}

.contacts-item-link {
  color: #434455;
}

.contacts-item-link:hover,
.contacts-item-link:focus {
  color: #404bbf;
}

.header-link {
  padding: 24px 0;
}

/* ============== HERO SECTION ============== */

.hero {
  padding: 188px 0;
  background-color: #2e2f42;
  text-align: center;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.order-btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.64px;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

/* ============== OUR BENEFITS ============== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits {
  padding: 120px 0;
}

.benefits-item {
  display: flex;
  gap: 24px;
}

.benefits-item-list {
  width: calc((100% - 72px) / 4);
}

.benefits-item-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============== TEAM DREAM ============== */

.team-dream {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-dream-item {
  display: flex;
  gap: 24px;
}
.team-list-item {
  padding: 32px 0;
  background-color: #ffffff;
}

.team-dream-item-list {
  border-radius: 0px 0px 4px 4px;
  width: calc((100%-72px) / 4);
}

.team-dream-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-dream-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.team-dream-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* ============== PORTFOLIO ============== */

.portfolio-item-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.portfolio-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio {
  padding: 120px 0;
}

.portfolio-item-list {
  width: calc((100% - 48px) / 3);
}

/* ============== FOOTER ============== */

.team-dream-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.team-dream-footer-text {
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.logotype-span-studio-footer {
  color: #f4f4fd;
}

.logotype-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  margin-bottom: 16px;
}

.link-footer {
  display: inline-block;
}
